{% extends 'base.html.twig' %}
{% block body %}
<div class="container-xl mt-5">
    <div class="table-responsive col-lg-12 mx-auto">
        <div class="table">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_start(form) }}
                        {{ form_row(form.campus) }}
                        {{ form_row(form.q) }}
                        {{ form_row(form.dateStart) }}
                        {{ form_row(form.dateEnd) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.sortieOrganisateur) }}
                        {{ form_row(form.sortieInscrit) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.noInscrit) }}
                        {{ form_row(form.datePasse) }}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                        <a href="{{ path('home') }}" class="btn btn-primary mt-5">Renitialisé</a>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h2 class="text-center">Liste des <b>sorties</b></h2></div>


                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered mt-4" id="myTable2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success col-lg-12">
                    {{ message }}
                </div>
            {% endfor %}

            <thead class="thead-dark">
            <tr>
                <th class="text-center" onclick="sortTable(0)">Nom de la sortie</th>
                <th class="text-center" onclick="sortTable(0)">Date de la sortie</th>
                <th class="text-center" onclick="sortTable(0)">Clôture</th>
                <th class="text-center" onclick="sortTable(0)">Inscrit/Places</th>
                <th class="text-center" onclick="sortTable(0)">État</th>
                <th class="text-center" onclick="sortTable(0)">Inscrit</th>
                <th class="text-center" onclick="sortTable(0)">Organisateur</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            {% for sortie in sorties %}

                <tbody class="bg-white">
                <tr>
                    <td class="text-center">{{ sortie.nom }}</td>
                    <td class="text-center">{{ sortie.datedebut | date('d/m/Y') }}</td>
                    <td class="text-center">{{ sortie.datecloture | date('d/m/Y') }}</td>
                    <td class="text-center">{{ sortie.estInscrit|length }}/{{ sortie.nbinscriptionsmax }}</td>
                    <td class="text-center">{{ sortie.etats.libelle }}</td>
                    <td class="text-center">{% if sortie.estInscrit.first.id is defined %}

                            {% for sortieInscrit in sortie.estInscrit %}
                                {% if sortieInscrit.id == app.user.id %}X{% endif %}
                            {% endfor %}
                        {% endif %}

                    </td>
                    <td class="text-center">{{ sortie.organisateur.pseudo }}</td>
                    <td class="text-center">
                        <a href="{{ path('admin.campus.edit', {'id': sortie.id}) }}" class="edit" title=""
                           data-toggle="tooltip" data-original-title="Edit">Modifier <i
                                    class="fa fa-pencil-square-o"></i></a>
                        <form method="POST" action="{{ path('admin.campus.delete', {id: sortie.id}) }}"
                              style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
                            <button class="border-0">- Supprimer <i class="fa fa-trash"></i></button>
                        </form>
                    </td>



                </tr>
                </tbody>
                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Suppression</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Êtes vous sûr de vouloir supprimer ce campus ?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" data-id="#"
                                   type="button" class="btn btn-primary" id="#confirmModalYes">Oui</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </table>

        <a href="{{ path('sortie.add') }}" class="btn btn-primary">Ajoutez une sortie</a>
    </div>
</div>
{% endblock %}