{% extends 'base.html.twig' %}
{% block body %}

    {# Affichage de la sortie #}
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <p>Nom de la sortie : {{ sortieId.nom }}</p>
                    <p>Date de début : {{ sortieId.datedebut|date('d/m/y - H:i') }} </p>
                    <p>Date de fin d'inscription : {{ sortieId.datecloture |date('d/m/y') }} </p>
                    <p>Nombre d'inscriptions max : {{ sortieId.nbinscriptionsmax }} </p>
                    <p>Durée : {{ sortieId.duree }}</p>
                    {% if form is not defined %}
                        <p>Description : {{ sortieId.descriptioninfos }}</p>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <p>Campus : {{ sortieId.campus.nomCampus }}</p>
                    <p>Lieu : {{ sortieId.lieu.nomLieu }}</p>
                    <p>Rue : {{ sortieId.lieu.rue }}</p>
                    <p>Code postal : {{ sortieId.lieu.ville.codePostal }}</p>
                    <p>Latitude : {{ sortieId.lieu.latitude }}</p>
                    <p>Longitude : {{ sortieId.lieu.longitude }}</p>
                </div>
            </div>
        </div>
    </div>
    {# #}
    {# Affichage de la lise des participants #}
    <div class="container">
        <h3>Liste des participants inscrits</h3>
        <div class="col-lg-6">
            <div class="participant-sortie">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody class="bg-light">
                    {% for participant in participantInscrit %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.prenom }} {{ participant.nom | upper }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>





{% endblock %}