{% extends 'base.html.twig' %}

{% block title %}Insérez votre photo de profil !{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5" style="height: 500px;">
            <div class="mx-auto" style="width: 500px;">

                {% if app.user.photo != null %}
                    <div class="photo-actuelle">
                        <h2>Photo actuelle :</h2>

                        <div class="avatar">
                            <img src="{{ asset('uploads/photoParticipants/') }}/{{ app.user.photo }}" alt="Photo de profil"/>
                        </div>
                    </div>

                {% endif %}

                {{ form_start(form) }}

                <div class="col-lg-12 col-md-12 inline">
                    <div class="form-group">
                        {{ form_widget(form) }}

                        <div class="mt-4 col-lg-12 col-md-6 mt-4">
                            <p class="form-group">
                                <button class="btn btn-success">Valider</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

            <div class="center">
                <a href="{{ path('participant.my.profil') }}">
                    <button type="button" class="btn btn-primary"> Retour</button>
                </a>
            </div>
        </div>

    </div>
    </div>
{% endblock %}
