{% extends 'base.html.twig' %}

{% block title %}Gérer les villes{% endblock %}

{% block body %}
    <div class="container-xl mt-5">
        <div class="table-responsive col-lg-8 mx-auto">
            <div class="table">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-12"><h2 class="text-center">Gérer les <b>{{ title }}</b></h2></div>


                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered mt-4" id="myTable2">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success col-lg-12">
                        {{ message }}
                    </div>
                {% endfor %}


                {% if villes is defined %}
                    {% include 'admin_dashboard/home/_villes.html.twig' %}
                {% endif %}


                {% if campus is defined %}
                    {% include 'admin_dashboard/home/_campus.html.twig' %}
                {% endif %}



                {% if participants is defined %}
                    {% include 'admin_dashboard/home/_participants.html.twig' %}
                {% endif %}


            </table>
            {% if villes is defined %}
            <a href="{{ path('admin.ville.add') }}" class="btn btn-primary">Ajoutez une ville</a>
            {% endif %}
            {% if campus is defined %}
                <a href="{{ path('admin.campus.add') }}" class="btn btn-primary">Ajoutez un campus</a>
            {% endif %}
            {% if participants is defined %}
                <a href="{{ path('admin.participant.add') }}" class="btn btn-primary">Ajoutez un participant</a>
            {% endif %}
            <div class="center">
                {% if villes is defined %}
                {{ knp_pagination_render(villes) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}