<div class="container">
    <div class="collapse" id="collapseExample">
        <div class="jumbotron">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div style="width: max-content">
                            {{ form_start(form) }}
                            {{ form_row(form.campus) }}
                            {{ form_row(form.q) }}
                            <div class="row">
                                <div class="ml-3">{{ form_row(form.dateStart) }}</div>
                                <div class="ml-3"> {{ form_row(form.dateEnd) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">

                        {{ form_row(form.sortieOrganisateur) }}
                        {{ form_row(form.sortieInscrit) }}
                        {{ form_row(form.noInscrit) }}
                        {{ form_row(form.datePasse) }}
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <a href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
               data-toggle="collapse" class="text-left"><h4
                >
                    Filtrer les sorties <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </h4>
            </a>
            <h2 class="text-center" style="margin-left: 15rem;">Liste des <b>sorties</b>
            </h2>
        </div>
    </div>
</div>