<div class="container-xl mt-5">
    <div class="table-responsive col-lg-10 mx-auto">
        <div class="table">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12"><h2 class="text-center">Gestion des <b>participants</b></h2></div>


                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered mt-4" id="myTable2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success col-lg-12">
                    {{ message }}
                </div>
            {% endfor %}
            <thead class="thead-dark">
            <tr>
                <th class="text-center" onclick="sortTable(0)">Pseudo</th>
                <th class="text-center" onclick="sortTable(0)">Identité</th>
                <th class="text-center" onclick="sortTable(0)">Campus</th>
                <th class="text-center" onclick="sortTable(0)">Rôle</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            {% for part in participants %}
                <tbody class="bg-white">
                <tr>
                    <td class="text-center">{{ part.pseudo }}</td>
                    <td class="text-center">{{ part.prenom }} {{ part.nom }}</td>
                    <td class="text-center">{{ part.campus.nomCampus }}</td>
                    <td class="text-center">{% for role in part.roles %}
                            {% if role == 'ROLE_ADMIN' %}Administrateur{% endif %}
                            {% if role == 'ROLE_USER' %}Participant{% endif %}
                        {% endfor %}</td>
                    <td class="text-center">
                        <a href="{{ path('admin.participant.edit', {'id': part.id}) }}" class="edit" title=""
                           data-toggle="tooltip" data-original-title="Edit">Modifier <i
                                    class="fa fa-pencil-square-o"></i></a>
                        <form method="POST" action="{{ path('admin.participant.delete', {id: part.id}) }}"
                              style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ part.id) }}">
                            <button class="border-0">- Supprimer <i class="fa fa-trash"></i></button>
                        </form>
                    </td>

                </tr>
                </tbody>
                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Suppression</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Êtes vous sûr de vouloir supprimer ce participant ?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" data-id="#"
                                   type="button" class="btn btn-primary" id="#confirmModalYes">Oui</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </table>
        <a href="{{ path('admin.participant.add') }}" class="btn btn-primary">Ajoutez un participant</a>
        <div class="center">
            {{ knp_pagination_render(participants) }}
        </div>
    </div>
</div>

